.roundedButton {
    border-radius: 3em;
    border: 1px solid rgb(136, 136, 136);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 3vw 2vw 3vw;
    height: 5rem !important;
    min-width: 290px;
    margin: 0 auto;
}

.roundedButton p {
    position: relative;
    z-index: 1;
    transition: color 0.4s linear;
    font-size: 18px;
    font-family: 'Syne', sans-serif;
    font-weight: 900;
}

.roundedButton:hover p {
    color: white;
}


.circle {
    width: 100%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
}