@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@font-face {
    font-family: gridul;
    src: url(/src/assets/gridul.woff2);
}

/*-----------------------------------*\
    #HERO
  \*-----------------------------------*/

.hero {
    background-color: #000;
    position: relative;
    padding-block-start: 130px;
    height: 100vh;
    overflow: hidden;
    font-family: 'Syne', sans-serif;
}

.hero-imges {
    position: absolute;
    left: 100%;
    bottom: 0%;
    transform: translate(-100%, 0%);
    z-index: 0;
    width: 600px;
    user-select: none;
}

.hero-imges img {
    width: 100%;
    height: 100%;
    
    animation: img 10s cubic-bezier(0.19, 1, 0.22, 1) alternate infinite;
}

.hero-imges {
    -webkit-box-shadow: 0px 0px 300px 0px red;
    -moz-box-shadow: 0px 0px 300px 0px red;
    box-shadow: 0px 0px 300px 0px red;
    z-index: 3;
    border-radius: 100%;
    background-color: #000;
    /* mix-blend-mode: screen; */
    user-select: none;
}

#myVideo {
    user-select: none;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
}



.hero-title2 {
    user-select: none;
    position: absolute;
    top: 95%;
    left: 5%;
    transform: translate(-10%, 95%) !important;
    z-index: 13;
    text-transform: initial;
    font-size: 10vw !important;
    color: var(--white);
    font-weight: 900;
    width: max-content;
}


.hero-banner {
    position: absolute;
    left: -10%;
    user-select: none;
    top: 40%;
    transform: rotate(-60deg) translate(10%, -30%);
    border-radius: var(--blob-radius);
    background-color: red;
    height: 800px;
    width: 600px;
    /* opacity: 0.2; */
    animation: blobAnim 10s alternate infinite;
}

.btn-video svg {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #fff;
    cursor: pointer;
    z-index: 999;
    height: 2rem;
}

@media (max-width :1000px) {

   
    .hero-title2 {
        /* position: absolute; */
        /* top: 100%; */
        /* left: 50%; */
        transform: translate(-50%, -100%) !important;
        text-transform: initial;
        font-size: 13vw !important;
        color: var(--white);
        font-weight: 900;
        width: max-content;
    }

    .hero-banner {
        z-index: 0;
        position: absolute;
        left: 0%;
        top: -10%;
        transform: translate(0%, 0%);
        border-radius: var(--blob-radius);
        height: 800px;
        width: 600px;
        opacity: 0.4 !important;
        animation: blobAnim 20s linear infinite;
    }

    .hero-img {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 0%);
        z-index: 1;
    }

    .hero-imges {
        width: 500px;
    }

    .hero-img {
        mix-blend-mode: screen;
    }

    #myVideo {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

@keyframes img {

    0%,
    10% {
        scale: 1.2;
    }

    20% {
        scale: 1.1;
        transform: translate(10px, 0px);
    }

    30% {
        transform: translate(10px, 0px);
    }

    40% {
        transform: translate(10px, 0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    60% {
        transform: translate(2px, 4px);
    }

    70% {
        transform: translate(2px, 4px);
    }

    80% {
        transform: translate(4px, 2px);
    }

    90% {
        transform: translate(4px, 3px);
        scale: 1.2;
    }

}

@keyframes blobAnim {

    0%,
    100% {
        border-radius: var(--blob-radius);
    }

    10% {
        border-radius: 3% 67% 50% 50% / 43% 39% 61% 57%;
    }

    20% {
        border-radius: 51% 49% 31% 69% / 65% 39% 61% 35%;
    }

    30% {
        border-radius: 5% 49% 56% 44% / 45% 39% 61% 55%;
    }

    40% {
        border-radius: 6% 34% 33% 67% / 48% 71% 39% 52%;
    }

    50% {
        border-radius: 46% 54% 33% 67% / 48% 30% 70% 52%;
    }

    60% {
        border-radius: 46% 54% 56% 44% / 48% 30% 70% 52%;
    }

    70% {
        border-radius: 46% 54% 56% 44% / 65% 53% 47% 35%;
    }

    80% {
        border-radius: 67% 33% 56% 44% / 37% 53% 47% 63%;
    }

    90% {
        border-radius: 46% 54% 32% 68% / 37% 53% 47% 63%;
    }

}

.hero .btn {
    margin-inline: auto;
}





@media (max-width :400px) {

    .hero-title {
        position: absolute;
        top: 50%;
        left: 50%;
        align-items: center;
        transform: translate(-50%, -50%) !important;
        text-transform: uppercase;
        font-size: 16vw;
        margin-left: 2rem;
        color: var(--white);
        width: max-content;
        max-width: 360px;
        font-style: italic;
        font-weight: 900;
        word-wrap: normal;
        z-index: 4;
        letter-spacing: 1px !important;
        line-height: 1;
    }

    #d {
        font-size: 13vw;
    }

    #studio {
        /* color: red; */
        font-size: 13vw;
    }

    .hero-imges {
        -webkit-box-shadow: 0px 0px 300px 0px;
        -moz-box-shadow: 0px 0px 300px 0px;
        box-shadow: 0px 0px 300px 0px;
        z-index: 3;
        border-radius: 100%;
        background-color: transparent;
        /* mix-blend-mode: screen; */
    }


    .hero-imges {
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 0%);
        z-index: 1;
    }

    .hero-imges img {
        object-fit: contain;
        animation: img 30s cubic-bezier(0.19, 1, 0.22, 1) alternate infinite;
    }

    .hero-title2 {
        /* position: absolute; */
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%) !important;
        text-transform: initial;
        font-size: 20vw !important;
        color: var(--white);
        font-weight: 900;
        width: max-content;
    }

    .hero-banner {
        z-index: 0;
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translate(-50%, -50%);
        border-radius: var(--blob-radius);
        height: 400px;
        width: 600px;
        opacity: 1 !important;
        animation: blobAnim 10s linear infinite;
    }

    .hero-img {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 0%);
        z-index: 1;
    }

    .hero-imges {
        width: 460px;
    }


    #myVideo {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

}



@media (min-width :1080px) {
    .hero {
        background-color: #000;
        position: relative;
        padding-block-start: 130px;
        height: 100vh;
        overflow: hidden;
        font-family: 'Syne', sans-serif;
    }

    .hero-imges {
        position: absolute;
        left: 100%;
        bottom: 0%;
        transform: translate(-100%, 0%);
        z-index: 0;
        width: 600px;
    }

    .hero-imges img {
        width: 100%;
        height: 100%;

        animation: img 10s cubic-bezier(0.19, 1, 0.22, 1) alternate infinite;
    }

    .hero-imges {
        -webkit-box-shadow: 0px 0px 300px 0px red;
        -moz-box-shadow: 0px 0px 300px 0px red;
        box-shadow: 0px 0px 300px 0px red;
        z-index: 3;
        border-radius: 100%;
        background-color: #000;
        /* mix-blend-mode: screen; */
    }

    #myVideo {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

    }

    .hero-title {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -45%) !important;
        text-transform: uppercase;
        font-size: 6.6vw;
        color: var(--white);
        width: max-content;
        font-style: italic;
        font-weight: 900;
        width: 100%;
        word-wrap: normal;
        letter-spacing: 1px !important;
    }

    #d {
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        letter-spacing: 5px;
        font-size: 9vw;
    }

    #studio {
        color: red;
    }

    .hero-title2 {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -95%) !important;
        z-index: 13;
        text-transform: initial;
        font-size: 8vw !important;
        color: var(--white);
        font-weight: 900;
        width: max-content;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }


    .hero-banner {
        position: absolute;
        left: -10%;
        top: 40%;
        transform: rotate(-60deg) translate(10%, -30%);
        border-radius: var(--blob-radius);
        background-color: red;
        height: 800px;
        width: 600px;
        /* opacity: 0.2; */
        animation: blobAnim 10s alternate infinite;
    }

    .btn-video svg {
        z-index: 1;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
        color: #fff;
        cursor: pointer;
        z-index: 999;
        height: 2rem;
    }


}