@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --pr-color: #000;
    --second-color: #0a0a0a;
    --cubicbz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;
}

.projects {
    height: max-content;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    flex-direction: column;
    gap: 200px;
    background-color: #000;
    overflow: hidden;
}



.section-title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    position: relative;
    font-size: 8vw;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
}

.section-title .stroke {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.section-title__square {
    position: absolute;
    display: inline-block;
    width: 9vw;
    height: 9vw;
    border: 3px solid #ffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.services-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
    gap: 5rem;
    margin-bottom: 9rem;
}

.service-box {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    border: solid 3px var(--tooltip-border);
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 30px;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    overflow: hidden;
}

.service-box:nth-child(even) {
    flex-direction: row-reverse;
}

.service-box:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}


.service-content {
    width: 50%;
    height: max-content;
    padding: 0 20px;
    /* width: max-content; */
}

.service-content div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 2vmax;
    color: #fff;
}




.ag-courses_item {
    -ms-flex-preferred-size: calc(31.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    overflow: hidden;
    border-radius: 28px;
    width: 28rem;
    height: 28rem;
}

.service-box:nth-child(1) .ag-courses-item_link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 30px 20px;
    background-image: url(https://i.pinimg.com/564x/da/49/32/da493289f89d2383b324bbf1608590df.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.service-box:nth-child(2) .ag-courses-item_link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 30px 20px;
    background-image: url(https://i.pinimg.com/originals/6c/44/60/6c4460dff365e2c4eea5ae323265c70f.gif);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.service-box:nth-child(3) .ag-courses-item_link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 30px 20px;
    background-image: url(https://i.pinimg.com/originals/e1/58/83/e158838ac07449d2dee9621f92a2a976.gif);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.service-box:nth-child(4) .ag-courses-item_link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 30px 20px;
    background-image: url(https://i.pinimg.com/564x/2a/bb/e8/2abbe8129d0626c377c9243845f20c6d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;

    font-weight: bold;
    font-size: 40px;
    color: #fff;

    z-index: 2;
    position: relative;
}


.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: var(--tooltip-color);

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}





@media (max-width :1000px) {
    .service-box {
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: space-between;
        gap: 3rem;
    }

}

@media (max-width :500px) {
    .service-content div {
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-size: 8vw;
        color: #fff;

    }

    .ag-courses_item {
        width: 90vw;
        height: 90vw;
    }

    .projects {
        height: max-content;
        display: flex;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
        flex-direction: column;
        gap: 50px;
        background-color: #000;
    }

    .section-title {
        font-size: 13vw;
    }

    .section-title__square {
        width: 15vw;
        height: 15vw;
    }

}


@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}