@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

@font-face {
    font-family: gridul;
    src: url(/src/assets/gridul.woff2);
}


.contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: relative;
    height:fit-content;
    font-family: gridul;
}

.contact .body {
    padding-top: 20px;
    width: 100%;
    max-width: 1800px;
    overflow: hidden;
    /* border: 1px solid red; */
    background-color: #000;
    /* line-height: 1; */

}

.contact .body .title {
    border-bottom: 1px solid #868686;
    margin-left: 200px;
    padding-bottom: 1rem;
    margin-right: 200px;
    position: relative;
    margin-bottom: 6rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height:1;
}

.contact .body .title span {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact .body .title span .imageContainer {
    width: 10vw;
    height: 10vw;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.contact .body .title span .imageContainer img {
    object-fit: cover;
}

.contact .body .title span h2 {
    margin-left: 0.3em;
}

.contact .body .title h2 {
    font-size: 4vmax;
    margin: 0px;
    font-weight: 300;
    text-align: center;
}

.contact .body .title .buttonContainer {
    position: absolute;
    left: calc(100% - 400px);
    top: calc(100% - 75px);
}

.contact .body .title .button {
    border: 1px solid #fff;
    font-family: gridul;
    width: 10vw;
    height: 10vw;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contact .body .title .button p {
    margin: 0px;
    font-size: 1vw;
    font-weight: 100;
    z-index: 2;
    position: relative;
}

.contact .body .title svg {
    position: absolute;
    top: 30%;
    left: 100%;
}

.contact .body .nav {
    display: flex;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top:200px; */
}

.contact .body .nav .roundedButton-1 {
    border-radius: 3em;
    border: 1px solid rgb(136, 136, 136);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    height: 6vmax;
    width: 18vmax;
    margin: 1rem auto;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

.contact .body .nav .roundedButton-1:nth-child(1) p {
    font-size: 1.1vmax;
}

.contact .body .nav .roundedButton-1:nth-child(2) p {
    font-size: 1vmax;
}

.contact .body .nav .roundedButton-1:hover {
    background-color: red;
    color: #fff;
}

.contact .body .nav p {
    font-size: 15px;
}

.contact .body .info {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 30px;
}

.contact .body .info div {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}




.contact .body .info div p,
.contact .body .info div h3 {
    margin: 0px;
    padding: 2.5px;
    cursor: pointer;
}

.contact .body .info div p::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 2px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
}

.contact .body .info div p:hover::after {
    width: 100%;
}

.contact .body .info div span {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}

.contact .body .info div h3 {
    color: grey;
    cursor: default;
    font-weight: 100;
    font-size: 1.3em;
}

.valuexlabs {
    /* text-align: center; */
    font-family: gridul;
}


@media (max-width:800px) {
    .contact .body .title svg {
        display: none;
        position: absolute;
        top: 30%;
        left: 100%;
    }

    .contact .body .title h2 {
        font-size: 5vmax;
        text-align: center;
        font-weight: 300;
    }

    .contact .body .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        padding: 40px;
        gap: 3rem ;
    }

    .contact .body .info div:nth-child(2) {
     flex-wrap: wrap;
    }

    .contact .body .title {
        border-bottom: 1px solid #868686;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        margin-bottom: 8rem;
        font-weight: 900;
        line-height: 1.2 !important;
    }


    .contact .body .title span .imageContainer {
        width: 15vmax;
        height: 15vmax;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
    }

    .contact .body .title span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact .body .title h2 {
        font-size: 12vw;
        margin: 0px;
        font-weight: 300;
    }

    .contact .body .title .button {
        border: 1px solid #fff;
        font-family: gridul;
        width: 15vmax;
        height: 15vmax;
        background-color: #000;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .contact .body .title .buttonContainer {
        position: absolute;
        left: 10%;
        top: 115%;
        transform: translate(10%, 107%);
    }

    .contact .body .title .button p {
        margin: 0px;
        font-size: 0.7rem;
        font-weight: 100;
        z-index: 2;
        position: relative;
    }


    .contact .body .nav {
        display: flex;
        gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }


    .contact .body .nav .roundedButton-1 {
        border-radius: 3em;
        border: 1px solid rgb(136, 136, 136);
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px 20px 0px;
        height: 7vmax;
        width: 28vmax;
        margin: 4rem auto;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    }

    .contact .body .nav .roundedButton-1:nth-child(1) p {
        font-size: 1.8vmax;
    }

    .contact .body .nav .roundedButton-1:nth-child(2) p {
        font-size: 2vmax;
    }

}