@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

:root {
    --pr-color: #fff;
    --second-color: #0a0a0a;
    --cubicbz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;
}

/* work ********/
.work {
    padding-top: 150px;
    height: 800vh;
    background-color: #000;
    font-family: 'Syne', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.work__wrapp {
    display: flex;
    flex-wrap: wrap;
    row-gap: 280px;
    justify-content: space-between;
    padding: 200px 120px;
}

.work__item {
    position: relative;
    width: calc(50% - 60px);
    height: 100vh;
}

.work__item-num {
    position: absolute;
    display: inline-block;
    font-size: 70px;
    color: var(--pr-color);
    /* color: #fff; */
    mix-blend-mode: difference;
    z-index: 2;
}

.work__item:hover .work__item-img img {
    opacity: 0;
}

.work__item:hover .work__item-img #project-video {
    scale: 1;
    opacity: 1;
}

.work__item-img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;

}


.work__item-img #project-video {
    opacity: 0;
    scale: 1;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.work__item-img img {
    scale: 1.4 !important;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}



.work-title {
    position: relative;
    margin: 0;
    margin-bottom: 90px;
    font-size: 150px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: var(--pr-color);
    text-transform: uppercase;
    font-weight: 900;
    z-index: 2 !important;
}

.work-title .work-stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.work-title__square {
    position: absolute;
    display: inline-block;
    width: 170px;
    height: 170px;
    border: 1px solid #4b4b4b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}