@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

:root {
    --pr-color: #fff;
    --second-color: #0a0a0a;
    --cubicbz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;
}

/* work ********/
.work {
    padding-top: 150px;
    height: max-content;
    background-color: #000;
    font-family: 'Syne', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.work__wrapp {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    row-gap: 300px;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.work__item {
    position: relative;
    width: 45vmax;
    height: 95vmin;
}

@media (max-width : 1000px) {
    .work__item {
        position: relative;
        width: 45vmax;
        height: 80vmin;
    }

}

@media (max-width : 600px) {
    .work__item {
        position: relative;
        width: 45vmax;
        height: 120vmin;
    }

    .work__wrapp {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-around;
        row-gap: 100px;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    

}


.work__item-num {
    position: absolute;
    display: inline-block;
    font-size: 5.5vmax;
    width: 100%;
    color: var(--pr-color);
    /* color: #fff; */
    mix-blend-mode: exclusion;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    z-index: 2;
}

.work__item:hover .work__item-img img {
    opacity: 0;
}


.work__item-img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden !important;
}


.work__item-img #project-video {
    scale: 1.4 !important;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.work__item-img #project-video:hover {
    scale: 1;
}





.work-title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    position: relative;
    font-size: 8vw;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 8rem;
}

.work-title .work-stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.work-title__square {
    position: absolute;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    border: 3px solid #ffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}